.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 240px;
  gap: 4px;
}

.wrapper > span {
  margin-right: 3px;
  font-weight: bold;
  padding: 2px 6px;
  background-color: #3c7ef8;
  border-radius: 4px;
  color: white;
}
